// +build ent

package imports

import (
	_ "github.com/bitxhub/did-method-registry"
	_ "github.com/bitxhub/did-method-registry/register"
	_ "github.com/bitxhub/parallel-executor"
	_ "github.com/bitxhub/service-mng"
	_ "github.com/bitxhub/license"
)
